In [12]:
s = "MY NAME IS SHRIDHAR "

In [3]:
s

'MY NAME IS SHRIDHAR '

In [6]:
s[3:7]

'NAME'

In [8]:
for s in range(3,7):
    print(s)

3
4
5
6

In [13]:
s

'MY NAME IS SHRIDHAR '

In [15]:
s.find("NAME")

3

In [16]:
s.count("S")

2

In [17]:
s.count("A")

2

In [18]:
s = "my name is shridhar nirmale, currently working in hsbc"

In [19]:
s

'my name is shridhar nirmale, currently working in hsbc'

In [24]:
s.split()

['my',
 'name',
 'is',
 'shridhar',
 'nirmale,',
 'currently',
 'working',
 'in',
 'hsbc']

In [25]:
s.split(",")

['my name is shridhar nirmale', ' currently working in hsbc']

In [26]:
s.split("n")

['my ', 'ame is shridhar ', 'irmale, curre', 'tly worki', 'g i', ' hsbc']

In [27]:
s.split("na")

['my ', 'me is shridhar nirmale, currently working in hsbc']

In [28]:
type(s.split("na"))

list

In [29]:
s

'my name is shridhar nirmale, currently working in hsbc'

In [30]:
s.upper()

'MY NAME IS SHRIDHAR NIRMALE, CURRENTLY WORKING IN HSBC'

In [31]:
s.lower()

'my name is shridhar nirmale, currently working in hsbc'

In [33]:
s.swapcase()

'MY NAME IS SHRIDHAR NIRMALE, CURRENTLY WORKING IN HSBC'

In [35]:
"_".join(s)

'm_y_ _n_a_m_e_ _i_s_ _s_h_r_i_d_h_a_r_ _n_i_r_m_a_l_e_,_ _c_u_r_r_e_n_t_l_y_ _w_o_r_k_i_n_g_ _i_n_ _h_s_b_c'

In [37]:
reversed(s)

In [38]:
list(reversed(s))

['c',
 'b',
 's',
 'h',
 ' ',
 'n',
 'i',
 ' ',
 'g',
 'n',
 'i',
 'k',
 'r',
 'o',
 'w',
 ' ',
 'y',
 'l',
 't',
 'n',
 'e',
 'r',
 'r',
 'u',
 'c',
 ' ',
 ',',
 'e',
 'l',
 'a',
 'm',
 'r',
 'i',
 'n',
 ' ',
 'r',
 'a',
 'h',
 'd',
 'i',
 'r',
 'h',
 's',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'm']

In [2]:
s = "my name is "

In [1]:
for i in range(3,7):
    print(i)

3
4
5
6

In [8]:
b = s.find("name")

In [5]:
b

3

In [9]:
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [10]:
s = "       sudh "

In [11]:
s

'       sudh '

In [12]:
s.strip()

'sudh'

In [13]:
s.lstrip()

'sudh '

In [14]:
s = "greeting from ineuron"

In [15]:
s.replace("g", "s")

'sreetins from ineuron'

In [16]:
s.replace("g", "abc")

'abcreetinabc from ineuron'

In [17]:
s

'greeting from ineuron'

In [18]:
s = s.replace("g", "abc")

In [19]:
s

'abcreetinabc from ineuron'

In [20]:
s = "Shridhar"

In [22]:
s.center(20, "*")

'******Shridhar******'

In [23]:
s = "shridhar\tnirmale"

In [24]:
s

'shridhar\tnirmale'

In [25]:
s.expandtabs()

'shridhar        nirmale'

In [ ]:
#\t is for tabs

In [28]:
a = "we are are a part of full stack"

In [29]:
a.lower()

'we are are a part of full stack'

In [30]:
a.count("a")

5

In [33]:
for i in range(a.count("a")):
    print(i)

0
1
2
3
4

In [34]:
a.replace("a", "ineuron")

'we ineuronre ineuronre ineuron pineuronrt of full stineuronck'

In [35]:
list(a)

['w',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'a',
 ' ',
 'p',
 'a',
 'r',
 't',
 ' ',
 'o',
 'f',
 ' ',
 'f',
 'u',
 'l',
 'l',
 ' ',
 's',
 't',
 'a',
 'c',
 'k']

In [36]:
for i in range(len(a)):
    if(a[i]=="a"):
        print(i)

3
7
11
14
28

In [38]:
s.isupper()

False

In [39]:
a = "RAJA"

In [40]:
a.isupper()

True

In [41]:
a.islower()

False

In [44]:
a.isspace()

False

In [45]:
k = "Shridhar"

In [46]:
k.isdigit()

False

In [48]:
l = "563737"

In [49]:
l.isdigit()

True

In [51]:
k.endswith("r")

True

In [52]:
l.startswith("5")

True

In [53]:
m = "63663raja"

In [54]:
m.isalnum()

True

In [55]:
m = "Siri"

In [56]:
m.istitle()

True

In [57]:
s = "this is a full stack batch"

In [58]:
for i in s:
    print(i)

t
h
i
s

i
s

a

f
u
l
l

s
t
a
c
k

b
a
t
c
h

In [59]:
count = 0
for i in s:
    count = count+1
print(count)

26

In [60]:
for i in range(len(s)):
    print(s[i])

t
h
i
s

i
s

a

f
u
l
l

s
t
a
c
k

b
a
t
c
h

In [ ]:
#reverse string using while loop

In [63]:
s = "sudh"
ch = len(s) -1
while ch >=0:
    print(s[ch])
    ch = ch-1

h
d
u
s

In [66]:
name = "ineuron"
vowels = "AaEeIiOoUu"

In [68]:
for i in name :
    if i in vowels:
        print("{} is a vowel".format(i))
    else :
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [69]:
"{} name is sudh".format("my")

'my name is sudh'

In [1]:
a = input()
b = input()

raj
nirmale

In [2]:
"{} name {}".format(a,b)

'raj name nirmale'

In [4]:
s = input("enter a data for which you would like to check pelendrom ")
s1 = s[::-1]
if s==s1:
    print("its a same")
else:
    print("its not same")

enter a data for which you would like to check pelendrom raja
its not same

In [8]:
l = ["sudh", 34,90, 67,[67,78]]

In [9]:
l[3]

67

In [10]:
l[0:3]

['sudh', 34, 90]

In [11]:
l[::-1]

[[67, 78], 67, 90, 34, 'sudh']

In [12]:
l

['sudh', 34, 90, 67, [67, 78]]

In [14]:
s = "sudh"
s = list(s)

In [15]:
l+s

['sudh', 34, 90, 67, [67, 78], 's', 'u', 'd', 'h']

In [16]:
s = ["sudh"]

In [17]:
l+s

['sudh', 34, 90, 67, [67, 78], 'sudh']

In [18]:
l

['sudh', 34, 90, 67, [67, 78]]

In [19]:
l*2

['sudh', 34, 90, 67, [67, 78], 'sudh', 34, 90, 67, [67, 78]]

In [21]:
l

['sudh', 34, 90, 67, [67, 78]]

In [22]:
len(l)

5

In [23]:
l

['sudh', 34, 90, 67, [67, 78]]

In [26]:
"sudh" in l

True

In [27]:
34 in l

True

In [28]:
67787 in l

False